<!-- Initialize collapsible binding -->
<tbody collapsible="as: '$collapsible_' + method.method_code">
<tr class="row">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               click="element.selectShippingMethod"
               click="element.selectedMethod"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                        'checked': element.rates().length == 1 || element.isSelected"/>
    </td>
    <td class="col col-price">
        <each args="element.getRegion('price')" render=""/>
    </td>
    <td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
        text="method.method_title"/>

    <!-- ko ifnot: method.method_code === "pargo_customshipping" -->


    <td class="col col-carrier"
        attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
        text="method.carrier_title">

    </td>
    <!-- /ko -->



    <!-- ko if: method.method_code === "pargo_customshipping" -->

    <td colspan="2" class="col col-carrier" attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code">
        <p><span data-bind="text: method.carrier_title"></span><label class="pargo-small" for="modal-trigger-center" > [ what is Pargo? ]</label></p>
        <label for="modal-trigger" class="pargo-btn">Select pick up point</label>
        <div style="display:none;" id="pargo-point">
            <strong id="store-name"></strong>
            <p id="store-address"></p>
        </div>
    </td>
    <!-- /ko -->

    <!-- Column with collapsible trigger  -->

</tr>
<!-- Row for shipping method description -->
<!--<tr class="row" visible="$context['$collapsible_' + method.method_code].opened">
    <td class="col" colspan="5" i18n="'Some description.'"></td>
    <td class="col" colspan="5">
        &lt;!&ndash; ko if: method.method_code === "pargo_customshipping" &ndash;&gt;
        <li>I want to make this item present/absent dynamically</li>

        &lt;!&ndash; /ko &ndash;&gt;
    </td>

</tr>-->
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="5">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
                <input type="radio"
                       attr="'value' : method.method_code, 'id': 's_method_' + method.method_code"/>
            </span>
    </td>
</tr>
</tbody>





