<?xml version="1.0"?>
<!--
/**
 * Pargo CustomShipping
 *
 * @category    Pargo
 * @package     Pargo_CustomShipping
 * @copyright   Copyright (c) 2018 Pargo Points (https://pargo.co.za)
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @author     dev@pargo.co.za
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Shipping\Model\Rate\Result">
        <plugin name="pargo_customshipping_rate_result" type="Pargo\CustomShipping\Model\Plugin\Shipping\Rate\Result\Remove" sortOrder="10" disabled="false"/>
        <plugin name="pargo_customshipping_rate_result_getallrates" type="Pargo\CustomShipping\Model\Plugin\Shipping\Rate\Result\GetFilteredRates" sortOrder="20" disabled="false"/>

    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin sortOrder="1" name="twinsenCarrierCodeFixPaymentInformationManagement" type="Pargo\CustomShipping\Plugin\Model\PaymentInformationManagementPlugin"/>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin sortOrder="1" name="twinsenCarrierCodeFixGuestPaymentInformationManagement" type="Pargo\CustomShipping\Plugin\Model\GuestPaymentInformationManagementPlugin"/>
    </type>
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">main</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Magento\Framework\Logger\Handler\Debug</item>
                <item name="syslog" xsi:type="object">Magento\Framework\Logger\Handler\Syslog</item>
            </argument>
        </arguments>
    </type>
</config>
