<?xml version="1.0"?>
<!--
/**
 * Pargo CustomShipping
 *
 * @category    Pargo
 * @package     Pargo_CustomShipping
 * @copyright   Copyright (c) 2018 Pargo Points (https://pargo.co.za)
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @author     dev@pargo.co.za
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <group id="pargo_generalsettings" translate="label" type="text" sortOrder="2" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Pargo Shipping: General Settings</label>
                <field id="username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Username</label>
                </field>

                <field id="password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Password</label>
                </field>
            </group>
            <group id="pargo_customshipping" translate="label" type="text" sortOrder="2" showInDefault="1"
                   showInWebsite="1" showInStore="1">

                <label>Pargo Shipping: Pickup Point Delivery</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="live_enabled" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Pargo Production Site</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to Yes when testing is done. Default: No.</comment>
                </field>

                <field id="mapToken" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Map Token</label>
                </field>

                <field id="invoice_link_enabled" translate="label" type="select" sortOrder="57" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send directly to Pargo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Yes, to send shipping booking directly to Pargo. No, to allow other modules to use Pargo
                        data to send bookings.
                    </comment>
                </field>

                <field id="title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Pickup Point Method Title</label>
                </field>

                <field id="name" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Pickup Point Method Name</label>
                </field>

                <field id="price" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Pickup Point Flat Rate Shipping Price</label>
                    <comment>A flat rate is required. This is the amount that you will be charging your customers for this shipping method at checkout.</comment>
                    <validate>validate-no-empty validate-number validate-zero-or-greater</validate>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="95" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>

                <field id="showmethod" translate="label" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Sort Order</label>
                </field>

                <field id="enable_free_shipping" translate="label" type="select" sortOrder="58" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Would you like to offer free shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Change to Enable to allow free shipping</comment>
                </field>

                <field id="free_shipping_threshold" translate="label" type="text" sortOrder="59" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Free Shipping Cart Value</label>
                    <comment>Please put your cart threshold in</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="enable_free_shipping">1</field>
                    </depends>
                </field>
            </group>

            <group id="pargo_customshipping_doortodoor" translate="label" type="text" sortOrder="2" showInDefault="1"
                   showInWebsite="1" showInStore="1">

                <label>Pargo Shipping: Home Delivery</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="doortodoor_enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Activate Home Delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to yes to enable the home delivery shipping method. Default: No.</comment>
                </field>

                <field id="doortodoor_title" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Home Delivery Method Title</label>
                </field>

                <field id="doortodoor_name" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Home Delivery Method Name</label>
                </field>

                <field id="doortodoor_price" translate="label" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1"
                       showInStore="0">
                    <label>Home Delivery Flat Rate Shipping Price</label>
                    <comment>Flat rates are required, even when using live rates, due to their being used as a fallback
                        when the API is unavailable.
                    </comment>
                    <validate>validate-no-empty validate-number validate-zero-or-greater</validate>
                </field>

                <field id="live_rates_enabled" translate="label" type="select" sortOrder="55" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Pargo Live Api Rates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Yes, to make Pargo Api calls for live rates. No to use Flat Rates. Live quotations are
                        available for Home Delivery.
                    </comment>
                </field>
                <field id="doortodoor_enable_free_shipping" translate="label" type="select" sortOrder="58"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Would you like to offer free shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>Change to Enable to allow free shipping on Home Delivery</comment>
                </field>

                <field id="doortodoor_free_shipping_threshold" translate="label" type="text" sortOrder="59"
                       showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Free Shipping Cart Value</label>
                    <comment>Please put your cart threshold in</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="doortodoor_enable_free_shipping">1</field>
                    </depends>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="95" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
